.fullRow {
    width:100%
}

.div-no-border {
    border-width:0 !important
}

.top-align {
    vertical-align: text-top !important; 
}

.desc-width {
    width:38% !important;
}

.title-width {
    width:20% !important;
}

.identifier-width {
    width:10%
}

.id-width {
    width:5% !important ;
}

.filename-width {
    width:15% !important ;
}

.studydesc-width {
    width:25% !important;
}


.sub-heading {
    padding-bottom: 5px !important  ;
}

.version-width {
    width:5% !important;
}

.zero-margin {
    margin: 0px !important  ;
}

.zero-padding {
    padding: 0px  !important ;
}